# Grade Predictor
- This is a Machine Learning Project to Predict final Score of a Student.
- This is a Dataset from a Portuguese School on Two Subjects Maths and Protuguese.

# Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
1. **school** - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)
2. **sex** - student's sex (binary: "F" - female or "M" - male)
3. **age** - student's age (numeric: from 15 to 22)
4. **address** - student's home address type (binary: "U" - urban or "R" - rural)
5. **famsize** - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)
6. **Pstatus** - parent's cohabitation status (binary: "T" - living together or "A" - apart)
7. **Medu** - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
8. **Fedu** - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
9. **Mjob** - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
10. **Fjob** - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
11. **reason** - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")
12. **guardian** - student's guardian (nominal: "mother", "father" or "other")
13. **traveltime** - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
14. **studytime** - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
15. **failures** - number of past class failures (numeric: n if 1<=n<3, else 4)
16. **schoolsup** - extra educational support (binary: yes or no)
17. **famsup** - family educational support (binary: yes or no)
18. **paid** - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
19. **activities** - extra-curricular activities (binary: yes or no)
20. **nursery** - attended nursery school (binary: yes or no)
21. **higher** - wants to take higher education (binary: yes or no)
22. **internet** - Internet access at home (binary: yes or no)
23. **romantic** - with a romantic relationship (binary: yes or no)
24. **famrel** - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
25. **freetime** - free time after school (numeric: from 1 - very low to 5 - very high)
26. **goout** - going out with friends (numeric: from 1 - very low to 5 - very high)
27. **Dalc** - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
28. **Walc** - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
29. **health** - current health status (numeric: from 1 - very bad to 5 - very good)
30. **absences** - number of school absences (numeric: from 0 to 93)

# these grades are related with the course subject, Math or Portuguese:
- 31 G1 - first period grade (numeric: from 0 to 20)
- 31 G2 - second period grade (numeric: from 0 to 20)
- 32 G3 - final grade (numeric: from 0 to 20, output target)
numericnumeric
**Additional note**: there are several (382) students that belong to both datasets . 
These students can be identified by searching for identical attributes
that characterize each student, as shown in the annexed R file.

# Import the Dataset

In [1]:
import pandas as pd
mat = pd.read_csv("./student/student-mat.csv", sep=";")
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [2]:
mat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [3]:
por = pd.read_csv("./student/student-por.csv", sep=";")
por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [4]:
por.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

## Combine Maths and Portuguese Datasets

In [5]:
mat_por = pd.concat([mat, por], ignore_index=True)
mat_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
mat_por.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  G1          1044 non-null   int64
 31  G2          1044 non-null   int64
 32  G3          1044 non-null   int64
dtypes: int64(16), object(17)
memory usage: 269.3+ KB

# Separate Training and Testing Dataset

In [7]:
X = mat_por.drop("G3", axis=1)
y = mat_por["G3"]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
X_train.shape

(835, 32)

In [10]:
X_test.shape

(209, 32)

In [11]:
len(y_train)

835

In [12]:
len(y_test)

209

# Prepare the Dataset

In [13]:
from sklearn.preprocessing import OneHotEncoder
categorical_columns = [
    "school", "sex", "address", "famsize",
    "Pstatus", "Mjob", "Fjob", "reason", "guardian",
    "schoolsup", "famsup", "paid", "activities",
    "nursery", "higher", "internet", "romantic"
]

In [14]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_encoded = encoder.fit_transform(X[categorical_columns])
X_encoded_df = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out())
X_encoded_df.head()

,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [15]:
X_encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   school_GP          1044 non-null   float64
 1   school_MS          1044 non-null   float64
 2   sex_F              1044 non-null   float64
 3   sex_M              1044 non-null   float64
 4   address_R          1044 non-null   float64
 5   address_U          1044 non-null   float64
 6   famsize_GT3        1044 non-null   float64
 7   famsize_LE3        1044 non-null   float64
 8   Pstatus_A          1044 non-null   float64
 9   Pstatus_T          1044 non-null   float64
 10  Mjob_at_home       1044 non-null   float64
 11  Mjob_health        1044 non-null   float64
 12  Mjob_other         1044 non-null   float64
 13  Mjob_services      1044 non-null   float64
 14  Mjob_teacher       1044 non-null   float64
 15  Fjob_at_home       1044 non-null   float64
 16  Fjob_health        1044 non-null   float64
 17  Fjob_other         1044 non-null   float64
 18  Fjob_services      1044 non-null   float64
 19  Fjob_teacher       1044 non-null   float64
 20  reason_course      1044 non-null   float64
 21  reason_home        1044 non-null   float64
 22  reason_other       1044 non-null   float64
 23  reason_reputation  1044 non-null   float64
 24  guardian_father    1044 non-null   float64
 25  guardian_mother    1044 non-null   float64
 26  guardian_other     1044 non-null   float64
 27  schoolsup_no       1044 non-null   float64
 28  schoolsup_yes      1044 non-null   float64
 29  famsup_no          1044 non-null   float64
 30  famsup_yes         1044 non-null   float64
 31  paid_no            1044 non-null   float64
 32  paid_yes           1044 non-null   float64
 33  activities_no      1044 non-null   float64
 34  activities_yes     1044 non-null   float64
 35  nursery_no         1044 non-null   float64
 36  nursery_yes        1044 non-null   float64
 37  higher_no          1044 non-null   float64
 38  higher_yes         1044 non-null   float64
 39  internet_no        1044 non-null   float64
 40  internet_yes       1044 non-null   float64
 41  romantic_no        1044 non-null   float64
 42  romantic_yes       1044 non-null   float64
dtypes: float64(43)
memory usage: 350.8 KB

In [16]:
X_int = X.drop(categorical_columns, axis=1)
X_int.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6
1,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5
2,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8
3,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14
4,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10

In [17]:
X_float = X_int.astype(float)
X_float.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,6.0,5.0,6.0
1,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,4.0,5.0,5.0
2,15.0,1.0,1.0,1.0,2.0,3.0,4.0,3.0,2.0,2.0,3.0,3.0,10.0,7.0,8.0
3,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,2.0,15.0,14.0
4,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,4.0,6.0,10.0

## Combining Numerical Values with Categorical Values

In [18]:
X_encoded_final = pd.concat([X_encoded_df, X_float], axis=1)
X_encoded_final.head()

,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,...,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,4.0,3.0,4.0,1.0,1.0,3.0,6.0,5.0,6.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,5.0,3.0,3.0,1.0,1.0,3.0,4.0,5.0,5.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,3.0,4.0,3.0,2.0,2.0,3.0,3.0,10.0,7.0,8.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,3.0,2.0,2.0,1.0,1.0,5.0,2.0,15.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,4.0,3.0,2.0,1.0,2.0,5.0,4.0,6.0,10.0

In [19]:
X_encoded_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 58 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   school_GP          1044 non-null   float64
 1   school_MS          1044 non-null   float64
 2   sex_F              1044 non-null   float64
 3   sex_M              1044 non-null   float64
 4   address_R          1044 non-null   float64
 5   address_U          1044 non-null   float64
 6   famsize_GT3        1044 non-null   float64
 7   famsize_LE3        1044 non-null   float64
 8   Pstatus_A          1044 non-null   float64
 9   Pstatus_T          1044 non-null   float64
 10  Mjob_at_home       1044 non-null   float64
 11  Mjob_health        1044 non-null   float64
 12  Mjob_other         1044 non-null   float64
 13  Mjob_services      1044 non-null   float64
 14  Mjob_teacher       1044 non-null   float64
 15  Fjob_at_home       1044 non-null   float64
 16  Fjob_health        1044 non-null   float64
 17  Fjob_other         1044 non-null   float64
 18  Fjob_services      1044 non-null   float64
 19  Fjob_teacher       1044 non-null   float64
 20  reason_course      1044 non-null   float64
 21  reason_home        1044 non-null   float64
 22  reason_other       1044 non-null   float64
 23  reason_reputation  1044 non-null   float64
 24  guardian_father    1044 non-null   float64
 25  guardian_mother    1044 non-null   float64
 26  guardian_other     1044 non-null   float64
 27  schoolsup_no       1044 non-null   float64
 28  schoolsup_yes      1044 non-null   float64
 29  famsup_no          1044 non-null   float64
 30  famsup_yes         1044 non-null   float64
 31  paid_no            1044 non-null   float64
 32  paid_yes           1044 non-null   float64
 33  activities_no      1044 non-null   float64
 34  activities_yes     1044 non-null   float64
 35  nursery_no         1044 non-null   float64
 36  nursery_yes        1044 non-null   float64
 37  higher_no          1044 non-null   float64
 38  higher_yes         1044 non-null   float64
 39  internet_no        1044 non-null   float64
 40  internet_yes       1044 non-null   float64
 41  romantic_no        1044 non-null   float64
 42  romantic_yes       1044 non-null   float64
 43  age                1044 non-null   float64
 44  Medu               1044 non-null   float64
 45  Fedu               1044 non-null   float64
 46  traveltime         1044 non-null   float64
 47  studytime          1044 non-null   float64
 48  failures           1044 non-null   float64
 49  famrel             1044 non-null   float64
 50  freetime           1044 non-null   float64
 51  goout              1044 non-null   float64
 52  Dalc               1044 non-null   float64
 53  Walc               1044 non-null   float64
 54  health             1044 non-null   float64
 55  absences           1044 non-null   float64
 56  G1                 1044 non-null   float64
 57  G2                 1044 non-null   float64
dtypes: float64(58)
memory usage: 473.2 KB